$body-font-family: "Source Sans 3", "Segoe UI", sans-serif;
$body-background-color: #fcfcfa;
$body-heading-color: #152e40;
$body-text-color: #405563;
$link-color: #096d69;
$btn-primary-color: #096d69;
$sidebar-color: #152e40;
$nav-child-link-color: #d3e1e9;
$border-color: #dce3e4;
$base-button-color: #eff4f2;
$search-background-color: #fcfcfa;
$feedback-color: #e7efec;
$content-width: 65rem;
