<link rel="preload" href="{{ '/assets/fonts/source-sans-3.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
<script src="{{ '/assets/js/briefing-embed.js' | relative_url }}" defer></script>
<link rel="stylesheet" href="{{ "/assets/css/explorers.css" | relative_url }}">
<script src="{{ "/assets/js/qe-model.js" | relative_url }}" defer></script>
<script src="{{ "/assets/js/explorers.js" | relative_url }}" defer></script>
